<?xml version="1.0" encoding="UTF-8"?>

<beans 
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
        xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-2.5.xsd
            http://www.springframework.org/schema/task 
            http://www.springframework.org/schema/task/spring-task-3.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!-- Для определения аспектов -->
    <aop:aspectj-autoproxy/>

    <!-- Вариант прописывания конфигурации с аннотациями -->
    <!-- Если включен автоматический скан, то нужна аннотация @Component -->
<!--    <context:component-scan base-package="edu.javacourse.spring.aspect"/>
    <context:component-scan base-package="edu.javacourse.spring.bean"/>-->

    <!-- Вариант прописывания конфигурации внутри XML -->
    <bean id="simpleAspect1" class="edu.javacourse.spring.aspect.SimpleAspect1">
        <property name="aspectName" value="SimpleAspect"/>
    </bean>
<!--
    <bean id="simpleAspect2" class="edu.javacourse.spring.aspect.SimpleAspect2">
        <property name="aspectName" value="SimpleAspect"/>
    </bean>

    <bean id="simpleAspect3" class="edu.javacourse.spring.aspect.SimpleAspect3">
        <property name="aspectName" value="SimpleAspect"/>
    </bean>
-->
    <!-- При загрузке бинов по классу можно не указывать ID -->
<!--    <bean class="edu.javacourse.spring.bean.AspectDemoBean">
    </bean>-->
    
    <bean id="simple" class="edu.javacourse.spring.bean.AspectDemoBean">
    </bean>

</beans>