<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

	<appender name="fileLog" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="common.log" />
		<param name="MaxFileSize" value="2KB" />
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
            <!-- see API PatternLayout -->
			<param name="ConversionPattern" value="%-5p %d{ISO8601} [%C{1}] - %m%n" />
		</layout>
	</appender>

	<category name="edu.javacourse.crm">
		<priority value="all" />
        <!-- all, trace, debug, info, warn, error, fatal, off -->
		<appender-ref ref="fileLog" />
	</category>

	<root></root>

</log4j:configuration>